* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --anton: 'Anton', sans-serif;
    --abel: 'Abel', sans-serif;
    --color1: #E6563B;
    --color2: #EB9D3A;
    --color3: #7CB06C;
    --color4: #00ABA9;
    --color5: #F0F0F0;
    --color6: #E6E6E6;
}


body {
    background-color: var(--color6);
    font-family: var(--abel);
}

img {
    max-width: 100%
}

.card-c {
    display: flex;
    justify-content: space-between;

}

nav {
    background-color: var(--color6);
    display: flex;
}

h1, h2 {
    font-weight: bold;
    font-family: var(--anton);
}

.btn {
    border: solid .5em white;
    padding: 2em;
    border-radius: 50%;
}

   /* Top Section*/
.custom-01 {
    margin: auto;
    --_1t1: 100px;

    /* Circles Container*/
    .btn-con {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: auto;
        max-width: 900px;
        padding: 0 1em;

        /*Circle & position*/
        .link {
            margin: 2em;
            display: flex;
            justify-content: center;

            > a {
                font-size: .9rem;
                text-decoration: none;
                text-align: center;
                padding: 2em 2em;
                border-radius: 50%;
                width: var(--_1t1);
                height: var(--_1t1);
                border: solid 6px #F0F0F0;
                color: #F0F0F0;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        /*Circle-colors*/
        > div:nth-child(1) a {
            background-color: var(--color1);
        }

        > div:nth-child(2) a {
            background-color: var(--color2);
        }

        > div:nth-child(3) a {
            background-color: var(--color3);
        }

        > div:nth-child(4) a {
            background-color: var(--color4);
        }
    }
}

    /*cards styling*/
.custom-02 {
    margin: auto;
    max-width: 400px;
    border: solid 8px #E6E6E6;

    .card-body {
        background-color: rgba(0, 0, 0, 0.18);
    }

    /*Footer Styling*/
    .custom-ft {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        background-color: #E6E6E6;
        border-radius: 0;

        /*Card Footer Left Side*/
        > :nth-child(1) {
            & p {
                text-wrap: none;
                margin: 0;
                padding: 0;
            }
        }

        /*Card Footer Right Side*/
        > :nth-child(2) {
            display: flex;
            align-items: center;
            justify-content: space-between;

            /*icon divs*/
            & div {
                font-family: var(--anton);
                font-size: 10px;
                text-align: center;
                height: 18px;
                width: 18px;
                border-radius: 50%;
                margin-left: .5em;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            /*icon colors*/
            > :nth-child(1) {
                background-color: var(--color1);
            }

            > :nth-child(2) {
                background-color: var(--color2);
            }

            > :nth-child(3) {
                background-color: var(--color3);
            }

            > :nth-child(4) {
                background-color: var(--color4);
            }
        }
    }

}



h4{
    text-align: center;
    padding-bottom: 1em;
    font-size: medium;
}

#selected{
    padding-bottom: 4em;
}

.wrapper{
    max-width: 1500px;
    margin: 0 auto;
    padding:1em;
    overflow: hidden;
}

#headImg, #phoneImg{

    width:100%;
    height:100%

}

.sidePage{
    margin-bottom: 1em;
}

.lastTitle{
    padding-bottom: 1em;
}


hr{
    padding-bottom: 2em;
}
h3{
    font-family: var(--anton);
    text-align: left;
}

/*Bottom Right Section*/
.custom-03{
    /*Image Size*/  --_img-size: 70px;



    /*Title section*/
    >:nth-child(1){
        margin-bottom: 1em;
    }

    /*main sections*/
    > div{
        padding: .5em;
        display: flex;


        /*images container section*/
        & div{
            height: var(--_img-size);
            width: var(--_img-size);
            margin:0;
            padding: 0;
            display:inline-block;
            flex-flow: row nowrap;
            background-color: #7CB06C;
        }

    }

    /*All Images in Section*/
    & img{
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}