*{box-sizing: border-box;
    margin:0;
    padding: 0;
}

img{max-width: 100%}

.card-c{
    display: flex;
    justify-content:space-between;

}

nav{
    display: flex;
}

h1{
    font-weight: bold;
}
h2{
    font-weight: bold;
}

.circles{
    width: max-content;
    margin: 0 auto;


    & div{
        margin: 2em;
        height: 100px;
        width: 100px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        background-color: blue;
        border-radius: 50%;
        border: solid .3em red;
        & p{
            margin: auto;
        }


    }

}
