*{box-sizing: border-box;
    margin:0;
    padding: 0;
}

img{max-width: 100%}

.card-c{
    display: flex;
    justify-content:space-between;

}

nav{
    display: flex;
}

h1{
    font-weight: bold;
}
h2{
    font-weight: bold;
}
#redButton{
    border-radius: %;
}
